@media screen and (max-width: 400px) {
  html, body {
    /* overflow-x: hidden; */
  }

  #mobile {
    z-index: -10;
    position: absolute;
  }

  #desktop {
    display: none;
  }

  .container {
    max-width: 100%;
    margin-right: 10rem;
  }

  .fylo-function {
    width: 24rem;
    height: 12.8rem;
    top: 10rem;
  }

  .storage {
    width: 24rem;
    height: 9.3rem;
    top: 9rem;
  }

  .progress {
    height: 1rem;
    width: 15rem;
  }

  .progress-bar {
    height: 1rem;
    width: 20rem;
  }

  .white-dot {
    left: 14.05rem;
    bottom: 0.53rem;
  }

  .max {
    position: relative;
    bottom: 2.5rem;
    left: 16rem;
  }

  .bubble {
    position: relative;
    background-color: white;
    height: 4.64rem;
    width: 10.75rem;
    left: 7rem;
    top: 7rem;
    border-radius: 10px;
    text-align: center;
  }

  .container {
    padding-bottom: 18rem;
    width: 375px;
  }

  .attribution {
    display: none;
  }

  /* .first-section, .second-section{
    max-width: 300px;
  } */
}

html {
  font-size: 14px;
  max-width: 100%
}

@media screen and (min-width: 400px) {
  .container {
    max-width: 1440px;
  }

  #mobile {
    display: none;
  }

  .fylo-function {
    width: 28.57rem;
    height: 12.8rem;
    top: 18rem;
    left: 22rem;
  }

  .storage {
    height: 9.3rem;
    width: 35rem;
    top: 19.4rem;
  }

  .progress {
    height: 1rem;
    width: 21.4rem;
  }

  .progress-bar {
    height: 1rem;
    width: 28.5rem;
  }

  .white-dot {
    left: 20.5rem;
    bottom: 0.5rem;
  }

  .max {
    position: relative;
    bottom: 2.5rem;
    left: 24.5rem;
  }

  .bubble {
    position: relative;
    background-color: white;
    height: 4.64rem;
    width: 10.75rem;
    left: 71rem;
    top: 4.5rem;
    border-radius: 10px 10px 0 10px;
    text-align: center;
  }

  .triangle {
    width: 0;
    height: 0;
    border-top: 15px solid white;
    border-left: 20px solid transparent;
    position: relative;
    left: 9.3rem;
    bottom: 0.14rem;
  }
}

body {
  background-color: hsl(229, 57%, 11%);
  font-family: "Raleway";
  color: hsl(229, 7%, 55%);
  font-weight: 400;
  font-size: 14px;
  max-width: 100%;
}

p, .progress-bar, .progress, .white-dot {
  position: relative;
}

.container {
  padding: -1rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  top: 24.28rem;
  z-index: -2;
}

/* SECTION 1 */
.fylo-function {
  position: relative;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
}

.icons {
  position: relative;
  left: 1.42rem;
  top: 3.57rem;
}

.icon-display {
  background-color: hsl(229, 57%, 11%);
  /* width: 357rem; */
  width: 3rem;
  height: 3.2rem;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 5rem;
}

.icon {
  margin: 10px 0 10px 0;
}

.storage {
  position: relative;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  z-index: -1;
}

.info {
  margin: 30px;
}

.bold {
  font-weight: 700;
}

.used-info {
  top: 1.43rem;
}

.min {
  position: relative;
}

/* ABOUT PROGRESS */
.progress-bar {
  bottom: 1.4rem;
  top: 1.4rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}

.progress {
  bottom: 2.4rem;
  top: 0.4rem;
  border-radius: 10px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.white-dot {
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 100%;
  background-color: white;
}

/* Bubble */
.left-info {
  font-size: 14px;
  padding: 0.7rem;
}

.left {
  font-size: 32px;
  color: black;
}

.gb-left {
  position: relative;
  bottom: 0.35em;
  left: 0.21rem;
}
